<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-2 mb-3">
      <img src="../../../../assets/images/my_picture.jpg"/>
    </div>
    <div class="col-sm-12 col-md-5">
      <p class="text-center text-md-left">Hi there! I'm Ruben Schuckit, and I'm a software engineer at
        <span style="color: #904a03">JPMorgan Chase & Co. </span>
        in Chicago. Before coming to JPM, I studied computer science at
        <span [style.color]="randomNumber <= 5 ? '#007360' : '#a51417'">Washington University in St. Louis</span>.
        You can learn more about my professional experience on my
        <a href="https://www.linkedin.com/in/schuckit/" target="_blank">LinkedIn page</a>.</p>
    </div>
    <div class="col-sm-12 col-md-5 d-none d-md-block">
      <img src="../../../../assets/images/chicago.jpg"/>
    </div>
  </div>
</div>
